<style>
        #header-title h1{
            text-transform:  capitalize;
            word-spacing: 1px;
        }
        
       
        element.style {
text-transform: capitalize;
word-spacing: 1px;
}
    </style>
